@font-face {
    font-family: YekanBakh;
    src: url(/../../../../Font/YekanBakh.woff2);
}

nav {
    background-color: rgb(206, 255, 166);
}

#name {
    font-family: YekanBakh;
}

li {
    a:hover {
        color: rgb(50, 122, 255);
    }
}