:host{
  margin-top: 3em;  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@font-face {
    font-family: YekanBakh;
    src: url(/../../../../Font/YekanBakh.woff2);
}
h5{
    font-family: YekanBakh;
}