@font-face {
    font-family: YekanBakh;
    src: url(/../../../../Font/YekanBakh.woff2);
}
#a1{
    margin: 35px 30px 30px 30px;
    h1{
        font-family: YekanBakh;
    }
    li{
        padding-top: 5px ;
        padding-bottom: 8px;
    }
}