#a1 {
    background-color: rgb(0, 9, 92);
}

@font-face {
    font-family: YekanBakh;
    src: url(/../../../../Font/YekanBakh.woff2);
}

#h5 {
    font-family: YekanBakh;
}

#s1 {
    font-family: YekanBakh;
}