@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@font-face {
    font-family:iran;
    src: url(/Font/IRANSans.woff2);
}
body{
    direction: rtl;
}
*{
    font-family:iran;
}